<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Biblioteca - Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div style="text-align: center;" id="main">
            <div> <h3>Biblioteca</h3> </div>
            <hr style="margin-bottom: 10%;">

            <form th:action="@{/inicial}" method="POST">
                <div style="padding: 10px;" id="login">
                    <label style="font-size: 24px;" for="LOGIN">RG/CPF</label><br>
                    <input style="padding: 5px; margin: 5px;" name="rg" id="rg" type="text">
                </div>

                <div style="padding: 10px;" id="senha">
                    <label style="font-size: 24px;" for="SENHA">Senha</label><br>
                    <input style="padding: 5px; margin: 5px;" name="pass" id="pass" type="password">
                </div>
                <a style="margin-right: 3%; background-color:#ededed; padding: 7px; display: inline-block;
                   width: 100px; height: 20px; border-radius: 3px; border-style: none; text-decoration: none;
                   cursor: default; color: black; cursor: pointer;" href="cadastrar"> Cadastre-se </a>
                <input style="margin-left: 3%; background-color:#ededed; padding: 7px; display: inline-block;
                   width: 100px; height: 35px; border-radius: 3px; border-style: none; text-decoration: none;
                   cursor: default; color: black; cursor: pointer;" type="submit" value="Login">
            </form>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="main.js"></script>
    </body>
</html>
